.top-nav {
    position: fixed;
    background-color: hsl(0, 17%, 91%);
    z-index: 1000;
    margin-left: 2.5vw;
    margin-right: 2.5vw;
    margin-top: 1vh;
    margin-bottom: 1vh;
    width: 95vw;

    border-radius: 12.5px;
}

.nav-spacer {
    display: grid !important;
    grid-template-columns: 1fr 90vw 1fr;
    width: 100vw;
}

.nav-fade-in {
    animation-name: nav-fadeIn;
    animation-duration: 350ms;
    animation-fill-mode: forwards;

    -webkit-animation-name: nav-fadeIn;
    -webkit-animation-duration: 350ms;
    -webkit-animation-fill-mode: forwards;
}

.nav-fade-out {
    animation-name: nav-fadeOut;
    animation-duration: 350ms;
    animation-fill-mode: forwards;

    -webkit-animation-name: nav-fadeOut;
    -webkit-animation-duration: 350ms;
    -webkit-animation-fill-mode: forwards;
}

.icon {
    margin-left: 1.5vw;
    margin-right: 1.5vw;
}

.icon-wrapper {
    display: grid;
    grid-template-columns: 8vw 1fr;
    margin-top: 1.5vh;
    margin-bottom: 1.5vh;
}
 
.hidden-header {
    opacity: 0  ;
}
/*
.visible-header {
    
}*/

@keyframes nav-fadeOut {
    from {
        opacity: 100;
    }

    to {
        opacity: 0;
    }
}

@keyframes nav-fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 100;
    }
}
